@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap');

.mobile {
  display: none;
}

.desktop {
  width: 100vmax;
  height: 100vmin;
  background-color: #CF2B2B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.border {
  width: 78%;
  height: 50%;
  border: 10px dashed #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.border > h1{
  font-family: 'Righteous', cursive;
  font-size: 100px;
  font-weight: 400;
  color: #ffffff;
}

.border > h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.desktop > p {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
}

@media (max-width: 614px){

  * {
    box-sizing: border-box;
  }
  
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }

  body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vw;
  }

  header {
    width: 100vw;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    z-index: 2;
  }

  header > h1{
    font-family: 'Righteous', cursive;
    font-size: 44px;
    font-weight: 400;
    color: #ffffff;
  }

  header > h2 {
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
  }

  .checkoutIcon {
    position: fixed;
    width: 35px;
    height: 35px;
    right: 20px;
    top: 30px;
  }

  .checkoutIcon ion-icon{
    color: white;
    width: 35px;
    height: 35px;
    z-index: 3;
  }

  .counter {
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #CF2B2B;
    position:absolute;
    right: 0;
    bottom: 0px;
  }

  .container {
    width: 100vw;
    padding: 92px 0 122px 0;
    background-color: #EEEEEE;
  }

  .selection {
    width: 100%;
    height: 250px;
    margin-top: 30px;
  }

  .selection > h3{
    font-family: 'Righteous', cursive;
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    padding-left: 20px;
  }

  .itens1, .itens2, .itens3 {
    width: 100vw;
    height: 240px;
    overflow-x: auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  .option {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    height: 216px;
    width: 175px;
    padding-bottom: 5px;
    padding-left: 5px;
    border: 5px solid #ffffff;
    border-radius: 9px;
    background-color: #ffffff;
    position: relative;
    margin-right: 20px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
  }

  .option > img{
    width: 144px;
    height: 87px;
    border-radius: 8px;
    position: absolute;
    top: 13px;
    left: calc(50% - 72px);
    object-fit: cover;
  }

  .option > h4 {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    padding-bottom: 10px;
  }

  .option > p {
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    padding-bottom: 10px;
  }

  .option > em {
    font-size: 16px;
    font-weight: 400;
    color: black;
    padding-bottom: 5px;
  }

  /* CLASSES JS */

  .icon {
    display:none;
  }


  .option-border {
    border: 5px solid #32B72f;
  }

  .check {
    display: initial;
    position: absolute;
    bottom: 10px;
    right: 13px;
    color: #32B72f;
  }

  .footer .buttonFinal {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    border: none;
    background-color: #32B72F;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 0 80px;
  }

  .confirmation{
    width: 80vw;
    height: 80vw;
    background-color: #50D074;
    border-radius: 9px;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.25);
    position: fixed;
    top: calc(50% - 40vw);
    left: calc(50% - 40vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
  }

  .finalOrder{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin: 30px 0 0 0;
  }

  .price {
    display: flex;
    flex-direction: column;
  }

  .price span, .choice p {
    margin-bottom: 15px;
  }

  .price span:nth-child(4), .choice p:nth-child(4){
    font-weight: 700;
  }

  .confirmation button{
    width: 100%;
    height: 20%;
    background-color: #ffffff;
    border-radius: 50px;
    border: none;
    font-family: 'Roboto', sans-serif;
    color: #50D074;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
  }

  button a {
    text-decoration: none;


  }

  .confirmation > h4 {
    font-size: 20px;
  }
  
  .hidden {
    display:none;
  }

  .opacity {
    opacity: 0.2;
  }

    /* CLASSES JS */

  .footer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .footer .buttonInitial {
    width: 364px;
    height: 61px;
    border-radius: 50px;
    border: none;
    background-color: #cbcbcb;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    padding: 0 80px;
  }


}